INSTANCE_TOP_DOMAIN={{ instance_domain.top_domain }}
INSTANCE_FULL_DOMAIN={{ instance_domain.full_domain }}
CONOHA_USERNAME={{ conoha.username }}
CONOHA_PASSWORD={{ conoha.password }}
CONOHA_TENANTID={{ conoha.tenantid }}
STATIC_IP={{ static_ip.ip_address | default() }}
