# Ansible managed sshguard whitelist

# comment line (a '#' as very first character)
#   a single IPv4 and IPv6 address
#   address blocks in CIDR notation
#   hostnames

#   IPv4 localhost
127.0.0.0/8
127.0.0.1/32
#   IPv6 localhost
::1
